In [1]:
import pandas as pd

In [20]:
data =pd.read_csv('C:\\Users\\CHIRAG\\Documents\\GitHub\\ML_Studycamp\\Projects\\dataset\\HR-Employee-Attrition.csv')
df=pd.DataFrame(data)
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [21]:
df['Attrition'].value_counts()

Attrition
No     1233
Yes     237
Name: count, dtype: int64

In [22]:
df['Attrition'].value_counts(normalize=True)

Attrition
No     0.838776
Yes    0.161224
Name: proportion, dtype: float64

In [24]:
df['Attrition'].value_counts(normalize=True)*100

Attrition
No     83.877551
Yes    16.122449
Name: proportion, dtype: float64

In [25]:
df['Attrition'].unique()

array(['Yes', 'No'], dtype=object)

In [27]:
df.nunique().sort_values()

EmployeeCount                  1
Over18                         1
StandardHours                  1
Attrition                      2
OverTime                       2
PerformanceRating              2
Gender                         2
BusinessTravel                 3
Department                     3
MaritalStatus                  3
RelationshipSatisfaction       4
StockOptionLevel               4
JobSatisfaction                4
EnvironmentSatisfaction        4
JobInvolvement                 4
WorkLifeBalance                4
Education                      5
JobLevel                       5
EducationField                 6
TrainingTimesLastYear          7
JobRole                        9
NumCompaniesWorked            10
PercentSalaryHike             15
YearsSinceLastPromotion       16
YearsWithCurrManager          18
YearsInCurrentRole            19
DistanceFromHome              29
YearsAtCompany                37
TotalWorkingYears             40
Age                           43
HourlyRate                    71
DailyRate                    886
MonthlyIncome               1349
MonthlyRate                 1427
EmployeeNumber              1470
dtype: int64

In [30]:
df['EmployeeCount'].unique()

array([1])

In [32]:
df['Attrition'].nunique()

2

In [38]:
df_ml=df[['Age','Gender','MaritalStatus','Department','JobLevel','JobRole','YearsAtCompany','MonthlyIncome','PercentSalaryHike','OverTime','JobSatisfaction','WorkLifeBalance','PerformanceRating','Attrition']]
df_ml

,Age,Gender,MaritalStatus,Department,JobLevel,JobRole,YearsAtCompany,MonthlyIncome,PercentSalaryHike,OverTime,JobSatisfaction,WorkLifeBalance,PerformanceRating,Attrition
0,41,Female,Single,Sales,2,Sales Executive,6,5993,11,Yes,4,1,3,Yes
1,49,Male,Married,Research & Development,2,Research Scientist,10,5130,23,No,2,3,4,No
2,37,Male,Single,Research & Development,1,Laboratory Technician,0,2090,15,Yes,3,3,3,Yes
3,33,Female,Married,Research & Development,1,Research Scientist,8,2909,11,Yes,3,3,3,No
4,27,Male,Married,Research & Development,1,Laboratory Technician,2,3468,12,No,2,3,3,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,Male,Married,Research & Development,2,Laboratory Technician,5,2571,17,No,4,3,3,No
1466,39,Male,Married,Research & Development,3,Healthcare Representative,7,9991,15,No,1,3,3,No
1467,27,Male,Married,Research & Development,2,Manufacturing Director,6,6142,20,Yes,2,3,4,No
1468,49,Male,Married,Sales,2,Sales Executive,9,5390,14,No,2,2,3,No
1469,34,Male,Married,Research & Development,2,Laboratory Technician,4,4404,12,No,3,4,3,No